@import './reset';
@import './variables';

html {
  height: 100vh;
  font-family: system-ui;
  line-height: 1.4;
  font-size: calc(1em + 0.33vw);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

* {
  max-width: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer,
ul {
  max-width: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03ch;
}

article > * + * {
  margin-top: 1.4rem;
}

article > * + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

a:not([class]) {
  color: var(--link-color);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.print-only {
  display: none;

  @media print {
    display: block;
  }
}

@import './layouts';
@import './blocks';
@import './utilities';
