@import './reset';
@import './variables';

html {
  height: 100vh;
  font-family: system-ui;
  line-height: 1.4;
  font-size: calc(1em + 0.33vw);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 2rem clamp(2rem, 6vw, 10rem);
  background-color: var(--bg-color);
  color: var(--fg-color);

  grid-template-columns: 1fr min(30rem, 100%) 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  > nav {
    grid-column: 1;
  }

  > main {
    grid-column: 2;
  }

  @media (min-width: breakpoint('md')) {
    display: grid;
  }
}

.full-bleed {
  grid-column: 1 / 4;
  max-width: none;
  margin-left: -2rem;
  margin-right: -2rem;
}

:focus {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}

* {
  max-width: 60ch;
}

html,
body,
div,
header,
nav,
main,
footer,
article,
ul {
  max-width: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03ch;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

article > * + * {
  margin-top: 1.4rem;
}

article > * + :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 2rem;
}

a:not([class]) {
  color: var(--link-color);
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen {
  .print-only {
    display: none !important;
  }
}

@media print {
  .screen-only {
    display: none !important;
  }
}

@import './layouts';
@import './blocks';
@import './utilities';
