.nav {
  ul {
    display: flex;
    justify-content: space-around;
  }

  li + li {
    margin-left: 1rem;
  }

  [aria-current='page'] {
    filter: invert(100%);
    font-weight: bold;

    > a {
      text-decoration-line: overline;
    }
  }
}
