.nav {
  li + li {
    margin-top: 1rem;
  }

  [aria-current='page'] {
    filter: invert(100%);
    font-weight: bold;

    > a {
      outline: 3px dashed currentColor;
      outline-offset: 0.5rem;
    }
  }
}
