.skip-link {
  display: block;
  position: absolute;
  top: -1000em;
  margin-top: -2rem;
  padding: 1rem;
  background-color: var(--color-light);
  color: var(--link-color);
  font-weight: bold;
  text-align: center;
  text-decoration: underline;

  &:focus {
    position: relative;
    top: 0;
    outline-offset: -3px;
    outline-width: 3px;
  }
}
