<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Hi, I'm Kevin!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.hi-kev.dev/" />
  <meta property="og:image" content="/assets/me.jpg" />

  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">

  <title>Hi, I'm Kevin!</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/resume.css' | url }}" />
</head>

<body class="site-grid">

  <a href="#main-content" class="skip-link full-bleed">Skip to main content</a>

  <main id="main-content">
    {{ content | safe }}
  </main>

  <footer>
    {% include 'partials/nav.njk' %}
  </footer>
</body>

</html>
