<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hi, I'm Kevin!</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  <link rel="stylesheet" href="{{ '/css/resume.css' | url }}" />
</head>

<body>

  {% include 'partials/nav.njk' %}

  <main>
    {{ content | safe }}
  </main>

  {% include 'partials/footer.njk' %}
</body>

</html>
