---
layout: layouts/base.njk
---

<header class="[ header ] [  ]" data-size="sm">
  <h1 class="header__heading">{{title}}</h1>
</header>

<article class="[ intro ] [  ]" data-size="sm">

  <img alt="{{imgAlt}}" src="{{imgSrc}}" class="intro__img" height="250px" width="250px">

  {{content | safe}}

</article>
