<nav class="[ nav ] [ wrapper ]">
  <ul>
    {% for item in nav %}
      <li {% if item.url === page.url %} aria-current="page" {% endif %}>
        <a href="{{item.url | url}}">
          {{item.title}}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
